@font-face {
  font-family: "Ubuntu Mono", monospace;
  src: url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
}
html {
  scroll-behavior: smooth;
  font-family: "Ubuntu Mono", monospace;
}
body {
  background: linear-gradient(170deg, #4ab1ff, #2d5cfe);
}
.container {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}
.box {
  min-width: 240px;
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
  background-color: white;
  border-radius: 7px;
}
.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav {
  margin: 0 auto;
  min-width: 240px;
  max-width: 1200px;
  text-align: center;
  width: 80%;
  color: white;
}
#income {
  max-width: 500px;
}
#costs {
  max-width: 500px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

div h2 {
  text-align: center;
  padding: 0px 10px;
  margin: 0px;
}
.input {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.label {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.textArea {
  text-align: center;
  height: 30px;
  font-family: "Ubuntu Mono", monospace;
  box-shadow: 0px 0px 2px -1px;
  border: none;
  border-radius: 5px;
}
.add {
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}
.add:hover {
  background-color: #198754;
}
.remove:hover {
  background-color: #dc3545;
}

.elements {
  display: flex;
  flex-direction: column;
}

.listDiv {
  width: 50%;
  max-height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding-right: 0;
}
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.liItem {
  margin: 5px 0px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center {
  margin: 0px;
  padding: 10px;
}

@media screen and (min-width: 1200px) {
  #income {
    padding-right: 2.5%;
  }
  #costs {
    padding-left: 2.5%;
  }
  .label {
    margin-right: 5px;
  }
  .label:nth-of-type(even) {
    margin-right: 0px;
    margin-left: 5px;
  }
  .input {
    flex-direction: row;
  }
  .label:nth-of-type(even) {
    align-items: flex-end;
    flex-wrap: wrap;
  }
}
